* {
    outline: tomato;
}
body {
        font-size: 1.6rem;
        letter-spacing: -0.025em;
}


.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    border-bottom: 1.5px solid rgba(0, 0, 0, 0.2);

    background: transparent;
}

.header.on {
    background: #81d8d0F2;
}

.header .inner {
    background-color: transparent;
}

.header .inner h1 {
    align-items: center;
    text-align: center;
}


.header .inner h1 img {
    max-width: 200px;
    margin: 0 auto;
    margin-top: 20px;
}

.header .inner img {
    max-width: 65px;
    margin: 0 20px 0;
}


.header .gnb>ul {
    font-size: 14px;
    font-weight: 500;
    color: #333;
}

.header .gnb>ul {
    display: flex;
    flex: 1;
    gap: 30px;
    margin-top: 25px;
}

.header .gnb .icon {
    margin: auto;
    margin-bottom: 15px;
}


.main_visual h2 {
    color: #fff;
}


.main_visual .itm01 {
    max-width: 100%;
    height: 800px;
    background: url(../img/mainvisual1.jpg) no-repeat center center/cover;
}

.main_visual .itm02 {
    max-width: 100%;
    height: 800px;
    background: url(../img/mainvisual2.jpg) no-repeat center center/cover;
}

.main_visual .itm03 {
    max-width: 100%;
    height: 800px;
    background: url(../img/mainvisual3.jpg) no-repeat center center/cover;
}


.main_visual .txt_box strong {
    font-size: 38px;
    font-weight: 600;
    color: #333;
}

.main_visual .txt_box p {
    font-size: 14px;
    line-height: 24px;
    font-weight: 500;
    color: #555;

    margin-top: 24px;
}

.main_visual .txt_box {
    position: absolute;
    top: 40%;
    right: 13%;
    transform: translate(12%, 1%);
}

.main_visual_slide .itm::before {
    content: "";
    position: absolute;
    padding: 70px 210px 170px;
    display: inline-block;
    background: rgba(255, 255, 255, 0.4);
    right: 10%;
    top: 36%;
    transform: translate(4%, 2%);
}



.main_visual {
    position: relative;
}


.main_content {
    max-width: 1920px;
    padding: 120px;
    margin: 0 auto;
}

.main_content h2 p {
    font-size: 28px;
    font-weight: 600;
    color: #333;
    margin-bottom: 40px;
}

.main_content h2 {
    position: relative;
}

.main_content h2::before {
    content: "";
    position: absolute;
    display: block;
    height: 2px;
    width: 230px;
    background: #81d8d0;
    top: 60%;
    transform: translate(0%, 10px);
    left: 0%;
    z-index: -2;
}

.main_content .inner {
    max-width: 1520px;
    margin: 0 auto;
}

.main_content img {
    max-width: 200px;
    height: 150px;
    margin: 0 auto;
    margin-bottom: 16px;
}


.main_content strong {
    font-size: 22px;
    font-weight: 600;
    color: #222;
}

.main_content  p {
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
    color: #555;

    margin-top: 16px;
}

.main_content {
    position: relative;
}

.main_content .btn {
    position: absolute;
    left: 47%;
    bottom: 5%;
}

.main_content .inner {
    display: flex;
    gap: 30px;
}

.main_content .inner .itm {
    flex: 1;
    text-align: center;
}

.main_content .inner .itm .img {
    overflow: hidden;
}

.main_content .inner .itm img {
    transition: 0.4s;
}

.main_content .inner .img_box:hover img {
    transform: scale(1.3);
}

.main_content .inner .itm a::after {
    content: "";
    display: inline-block;
    margin-left: 8px;
    width: 5px;
    height: 10px;
    background: url(../images/arrow_28.png) no-repeat center center;
}



.main_content .slick-arrow {
    position: absolute;
    top: 20%;
    z-index: 2;

    font-size: 0;

    width: 40px;
    height: 40px;
}


.slick-prev {
    left: -3%;
    bottom: 30%;
    align-items: center;
    background: url(../img/chevron-left.svg) no-repeat center center/28px;
}

.slick-next {
    right: -3%;
    align-items: center;
    background: url(../img/chevron-right.svg) no-repeat center center/28px;
}

.itmbox_content {
    max-width: 1920px;
    padding: 120px;
    margin: 0 auto;
}

.itmbox_content .inner {
    max-width: 1520px;
    margin: 0 auto;
}

.itmbox_content h2 {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 40px;
}

.itmbox_content h2 {
    position: relative;
}

.itmbox_content h2::before {
    content: "";
    position: absolute;
    display: block;
    height: 2px;
    width: 220px;
    background: #81d8d0;
    bottom: 0%;
    left: 0%;
    z-index: -3;
}

.itmbox_content .inner {
    display: flex;
}

.itmbox_content .banner_content_box {
    display: flex;
    flex: 1;
    gap: 30px;
}

.itmbox_content .banner_imgbox {
    display: flex;
    flex: 1;
    gap: 30px;
}

.itmbox_content .inner .txt_card {
    font-size: 22px;
    font-weight: 600;
    text-align: center;
    margin-top: 16px;
    color: #555;
}




.Ti_itm_content {
    max-width: 1920px;
    padding: 120px;
    margin: 0 auto;
}

.Ti_itm_content .inner {
    max-width: 1520px;
    margin: 0 auto;

    text-align: center;
}

.Ti_itm_content h2 {
    font-size: 28px;
    font-weight: 600;
    color: #333;
    margin-bottom: 40px;
}

.Ti_itm_content h2 {
    position: relative;
}

.Ti_itm_content h2::before {
    content: "";
    position: absolute;
    display: block;
    height: 2px;
    width: 180px;
    background: #81d8d0;
    bottom: 0%;
    left: 0%;
    z-index: -3;
}

.Ti_itm_content .itm_box {
    display: flex;
    flex: 1;
    gap: 30px;
}


.Ti_itm_content .itm_box strong {
    font-size: 22px;
    font-weight: 600;
    color: #222;
}

.Ti_itm_content .itm_box p {
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
    color: #555;

    margin-top: 16px;
}

.Ti_itm_content {
    position: relative;
}

.Ti_itm_content .btn {
    position: absolute;
    left: 46%;
    bottom: 8%;
    transform: translate(10%, 0%);
}

.Ti_itm_content .inner .itm_box a::after {
    content: "";
    display: inline-block;
    margin-left: 8px;
    width: 5px;
    height: 10px;
    background: url(../images/arrow_28.png) no-repeat center center;
}



.Ti_itm_content img {
        max-width: 200px;
        height: 150px;
        margin: 0 auto;
        margin-bottom: 16px;    
}

.Ti_itm_content .slick-arrow {
    position: absolute;
    top: 30%;
    z-index: 2;

    font-size: 0;

    width: 40px;
    height: 40px;
}

.Ti_itm_content .inner .itm_box .img {
    overflow: hidden;
}

.Ti_itm_content .inner .itm_box img {
    transition: 0.4s;
}

.Ti_itm_content .inner .img_box:hover img {
    transform: scale(1.2);
}


.tube_content {
    position: relative;
    height: 460px;
    background: url(../img/backimg.jpg) no-repeat fixed center center / cover;
    text-align: center;
    align-items: center;
    margin-top: 120px;
}

.tube_content h2 {
    position: absolute;
    font-size: 28px;
    font-weight: 600;
    line-height: 38px;
    top: 24%;
    left: 44%;
    transform: translate(-1%, 0%);
    color: #fff;
    text-shadow: 1px 1.5px 1px #333;
}

.tube_content p {
    position: absolute;
    font-size: 16px;
    line-height: 30px;
    font-weight: 600;
    top: 50%;
    left: 40%;
    color: #ddd;
    text-shadow: 0.5px 0.5px #555;
}



.kategorie_content {
    max-width: 1920px;
    padding: 120px;
    margin: 0 auto;
}

.kategorie_content .inner {
    max-width: 1520px;
    margin: 0 auto;
}

.kategorie_content h2 {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 40px;
    color: #222;
}

.kategorie_content h2 {
    position: relative;
}

.kategorie_content h2::before {
    content: "";
    position: absolute;
    display: block;
    height: 2px;
    width: 180px;
    background: #81d8d0;
    bottom: 0%;
    left: 0%;
    z-index: -3;
}


.kategorie_content .kategorie_box {
    display: flex;
    flex: 1;
    gap: 30px;
}

.kategorie_content .kategorie_box p {
    font-size: 18px;
    line-height: 22px;
    font-weight: 600;
    text-align: center;
    margin-top: 16px;
    color: #555;
}

.banner_content {
    max-width: 1920px;
    padding: 120px 0;
    margin: 0 auto;
    background: #f9f9f9;
}

.banner_content .inner {
    max-width: 1520px;
    margin: 0 auto;
}

.banner_content h2 {
font-size: 0px;
}

.banner_content .bannercontent_box {
    display: flex;
    flex: 1;
    gap: 30px;
    text-align: center;
}

.banner_content .bannercontent_box img {
    width: 485px;
    height: 500px;
    margin-bottom: 16px;
}

.banner_content .bannercontent_box strong {
    font-size: 22px;
    font-weight: 600;
    color: #222;
}


.banner_content .bannercontent_box p {
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
    margin-top: 16px;
    color: #555;
}

.banner_content .inner .bannercontent_box .img {
    overflow: hidden;
}

.banner_content .inner .bannercontent_box img {
    transition: 0.6s;
}

.banner_content .inner .contnet_box:hover img {
    transform: scale(1.05);
}

.evn_content {
    max-width: 1920px;
    padding: 120px;
    margin: 0 auto;
}

.evn_content .inner {
    max-width: 1520px;
    margin: 0 auto;
    align-items: center;
    text-align: center;
}

.evn_content h2 {
    font-size: 28px;
    font-weight: 600;
    color: #333;
    margin-bottom: 40px;
}

.evn_content .evn_content_box {
    display: flex;
    flex: 1;
    gap: 30px;
}

.evn_content .evn_content_box img {
    max-width: 362px;
    margin-bottom: 16px;
}

.evn_content .evn_content_box span {
    font-size: 22px;
    font-weight: 600;
    color: #222;
}

.evn_content .evn_content_box p {
    font-size: 14px;
    line-height: 22px;
    font-weight: 500;
    margin-top: 16px;
    color: #555;
}

.evn_content h2 {
    position: relative;
}

.evn_content h2::before {
    content: "";
    position: absolute;
    display: block;
    height: 2px;
    width: 160px;
    background: #81d8d0;
    bottom: 0%;
    left: 0%;
    z-index: -3;
}


.footer {
    max-width: 1920px;
    height: 80px;
    padding: 40px;
    margin: 0 auto;
    background: #81d8d0;
}

.footer .img_box {
    display: flex;
    justify-content: space-between;
}

.footer .img_box .sns_icon img {
    max-width: 23px;
    padding: 0 5px 0;
}

.footer .logo_img img {
    max-width: 250px;
}


.footer .txt_01 {
    display: flex;
    flex: 1;
    gap: 40px;
    margin-top: 20px;
}

.footer .txt_02 {
    display: flex;
    flex: 1;
    gap: 40px;
    margin-top: 20px;
}

.footer .txt_01 a~a::before {
    content: "";
    position: absolute;
    height: 12px;
    width: 1px;
    background: #494949;
    transform: translate(-20px, 5%);
}

.footer .txt_02 a~a::before {
    content: "";
    position: absolute;
    height: 12px;
    width: 1px;
    background: #494949;
    transform: translate(-20px, 10%);
}

.footer .logo_txt {
    font-size: 13px;
    font-weight: 500;
}